In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Us_Accident= pd.read_csv('US_Accidents_March23.csv')

In [3]:
Us_Accident.head(3)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day

In [4]:
Us_Accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

### Numeric/Continuous Data:

Number, Precipitation(in), Wind_Chill(F), Wind_Speed(mph), Wind_Direction, Humidity(%), Visibility(mi), Temperature(F), Pressure(in), Weather_Timestamp,Zipcode, Start_Lat, Start_Lng, End_Lat, End_Lng, Distance(mi), Severity

### Categorical Data:

Weather_Condition, Airport_Code, Timezone, Nautical_Twilight, Civil_Twilight, Sunrise_Sunset, Astronomical_Twilight, City, Street, Country, Junction, Side, County, State

### Binary/Boolean Data:

Turning_Loop, Traffic_Signal, Traffic_Calming, Stop, Station, Roundabout, Railway, No_Exit, Crossing, Give_Way, Bump, Amenity


### Text Data:

Description

In [5]:
Us_Accident.shape

(7728394, 46)

### Weather-related Data:
Precipitation(in), Wind_Chill(F), Wind_Speed(mph), Wind_Direction, Humidity(%), Weather_Condition, Visibility(mi), Temperature(F), Pressure(in), Weather_Timestamp

### Location-based Data:
Zipcode, City, Street, County, State, Start_Lat, Start_Lng, End_Lat, End_Lng, Distance(mi), Airport_Code

### Time-related Data:
Timezone,Nautical_Twilight, Civil_Twilight, Sunrise_Sunset, Astronomical_Twilight, Start_Time, End_Time

### Traffic-related Data:
Turning_Loop, Traffic_Signal, Traffic_Calming, Stop, Station, Roundabout, Railway, No_Exit, Crossing, Give_Way, Bump, Amenity

### Other Data:
Description (may contain additional information related to the incident, not categorized in the above groups), Severity (represents the severity level of the incident)

In [6]:
missing_values = Us_Accident.isnull().sum().sort_values(ascending=False)
missing_values

End_Lat                  3402762
End_Lng                  3402762
Precipitation(in)        2203586
Wind_Chill(F)            1999019
Wind_Speed(mph)           571233
Visibility(mi)            177098
Wind_Direction            175206
Humidity(%)               174144
Weather_Condition         173459
Temperature(F)            163853
Pressure(in)              140679
Weather_Timestamp         120228
Nautical_Twilight          23246
Civil_Twilight             23246
Sunrise_Sunset             23246
Astronomical_Twilight      23246
Airport_Code               22635
Street                     10869
Timezone                    7808
Zipcode                     1915
City                         253
Description                    5
Traffic_Signal                 0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Country                        0
Turning_Loop                   0
No_Exit                        0
End_Time                       0
Start_Time                     0
Severity                       0
Railway                        0
Crossing                       0
Junction                       0
Give_Way                       0
Bump                           0
Amenity                        0
Start_Lat                      0
Start_Lng                      0
Distance(mi)                   0
Source                         0
County                         0
State                          0
ID                             0
dtype: int64

In [7]:
missing_percentage = (missing_values / len(Us_Accident)) * 100
missing_percentage

End_Lat                  44.029355
End_Lng                  44.029355
Precipitation(in)        28.512858
Wind_Chill(F)            25.865904
Wind_Speed(mph)           7.391355
Visibility(mi)            2.291524
Wind_Direction            2.267043
Humidity(%)               2.253301
Weather_Condition         2.244438
Temperature(F)            2.120143
Pressure(in)              1.820288
Weather_Timestamp         1.555666
Nautical_Twilight         0.300787
Civil_Twilight            0.300787
Sunrise_Sunset            0.300787
Astronomical_Twilight     0.300787
Airport_Code              0.292881
Street                    0.140637
Timezone                  0.101030
Zipcode                   0.024779
City                      0.003274
Description               0.000065
Traffic_Signal            0.000000
Roundabout                0.000000
Station                   0.000000
Stop                      0.000000
Traffic_Calming           0.000000
Country                   0.000000
Turning_Loop              0.000000
No_Exit                   0.000000
End_Time                  0.000000
Start_Time                0.000000
Severity                  0.000000
Railway                   0.000000
Crossing                  0.000000
Junction                  0.000000
Give_Way                  0.000000
Bump                      0.000000
Amenity                   0.000000
Start_Lat                 0.000000
Start_Lng                 0.000000
Distance(mi)              0.000000
Source                    0.000000
County                    0.000000
State                     0.000000
ID                        0.000000
dtype: float64

In [8]:
Us_Accident.describe().T

,count,mean,std,min,25%,50%,75%,max
Severity,7728394.0,2.212384,0.487531,1.000000,2.000000,2.000000,2.000000,4.000000
Start_Lat,7728394.0,36.201195,5.076079,24.554800,33.399631,35.823974,40.084959,49.002201
Start_Lng,7728394.0,-94.702545,17.391756,-124.623833,-117.219396,-87.766616,-80.353676,-67.113167
End_Lat,4325632.0,36.261829,5.272905,24.566013,33.462070,36.183495,40.178920,49.075000
End_Lng,4325632.0,-95.725570,18.107928,-124.545748,-117.754345,-88.027890,-80.247086,-67.109242
Distance(mi),7728394.0,0.561842,1.776811,0.000000,0.000000,0.030000,0.464000,441.750000
Temperature(F),7564541.0,61.663286,19.013653,-89.000000,49.000000,64.000000,76.000000,207.000000
Wind_Chill(F),5729375.0,58.251048,22.389832,-89.000000,43.000000,62.000000,75.000000,207.000000
Humidity(%),7554250.0,64.831041,22.820968,1.000000,48.000000,67.000000,84.000000,100.000000
Pressure(in),7587715.0,29.538986,1.006190,0.000000,29.370000,29.860000,30.030000,58.630000
Visibility(mi),7551296.0,9.090376,2.688316,0.000000,10.000000,10.000000,10.000000,140.000000
Wind_Speed(mph),7157161.0,7.685490,5.424983,0.000000,4.600000,7.000000,10.400000,1087.000000
Precipitation(in),5524808.0,0.008407,0.110225,0.000000,0.000000,0.000000,0.000000,36.470000

In [9]:
Us_Accident.State.unique()

array(['OH', 'WV', 'CA', 'FL', 'GA', 'SC', 'NE', 'IA', 'IL', 'MO', 'WI',
       'IN', 'MI', 'NJ', 'NY', 'CT', 'MA', 'RI', 'NH', 'PA', 'KY', 'MD',
       'VA', 'DC', 'DE', 'TX', 'WA', 'OR', 'AL', 'NC', 'AZ', 'TN', 'LA',
       'MN', 'CO', 'OK', 'NV', 'UT', 'KS', 'NM', 'AR', 'MS', 'ME', 'VT',
       'WY', 'ID', 'ND', 'MT', 'SD'], dtype=object)

In [17]:
# Calculate the state counts
state_counts = Us_Accident['State'].value_counts()

state_percentage = (state_counts / state_counts.sum()) * 100
print(state_percentage)

CA    22.532922
FL    11.389067
TX     7.541502
SC     4.950019
NY     4.502358
NC     4.376058
VA     3.924502
PA     3.838055
MN     2.485432
OR     2.324674
AZ     2.207561
GA     2.189769
IL     2.186198
TN     2.165883
MI     2.098638
LA     1.937026
NJ     1.820805
MD     1.816898
OH     1.528325
WA     1.400304
AL     1.307439
UT     1.256134
CO     1.175988
OK     1.082334
MO     1.000505
CT     0.918755
IN     0.869831
MA     0.802185
WI     0.448838
KY     0.417344
NE     0.373558
MT     0.368718
IA     0.340394
AR     0.294757
NV     0.280330
KS     0.271622
DC     0.241059
RI     0.219593
MS     0.196431
DE     0.182405
WV     0.178472
ID     0.147197
NM     0.133598
NH     0.132149
WY     0.048613
ND     0.045119
ME     0.034910
VT     0.011982
SD     0.003739
Name: State, dtype: float64

In [ ]:
state_files = {
    'FL': 'Us_Accident_FL.csv',
    'CA': 'Us_Accident_CA.csv',
    'TX': 'Us_Accident_TX.csv',
    'SC': 'Us_Accident_SC.csv',
    'NY': 'Us_Accident_NY.csv',
    'NC': 'Us_Accident_NC.csv'
}

for state, filename in state_files.items():
    filtered_df = Us_Accident[Us_Accident['State'] == state]
    filtered_df.to_csv(filename, index=False)